/*
Theme Name:     Simplicity Commerce
Theme URI:      http: //woothemes.com/
Description:    Child theme which optimises Simplicity for WooCommerce compatibility 
Author:         WooThemes
Author URI:     http: //woothemes.com
Template:       simplicity
Version:        1.0.6
*/

@import url("../simplicity/style.css");
@import url("woocommerce/css/style.css");
@import url("../simplicity/custom.css");
@import url("custom.css");